@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
}
body > div,
header {
  margin: 0 auto;
  min-width: 300px;
  max-width: 640px;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  clear: both;
  display: block;
}
.yincang {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: none;
  position: absolute;
  z-index: 1000;
}
.yincang > div {
  margin: 0 auto;
  min-width: 300px;
  max-width: 640px;
}
.yincang .flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.yincang .item {
  width: 30%;
}
.floor {
  background-image: url('images/floor_blank.png');
  width: 100%;
  background-color: #333;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 12px;
}
.floor img {
  width: 50%;
}
.floor .item {
  align-self: center;
}
.floor .item0 {
  margin-left: 2%;
  margin-right: 10%;
}
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  z-index: 20;
}
header .flex {
  display: flex;
}
header .see {
  padding-top: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
}
header .see span {
  background-image: url('images/jd-sprites.png');
  background-size: 200px;
}
header .see .log {
  width: 10%;
  width: 60px;
  height: 30px;
  display: inline-block;
  background-position: 0px -103px;
  background-repeat: no-repeat;
}
header .see .search {
  width: 20px ;
  height: 20px;
  display: inline-block;
  background-position: -120px 0px;
  background-size: 200px;
  position: absolute;
  top: 7px;
  left: 5px;
}
header .see .search_form {
  margin-left: 2%;
  position: relative;
  width: 80%;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  margin-right: 3%;
}
header .see input {
  width: 80%;
  height: 30px;
  border: none;
  margin-left: 30px;
}
header .see .dlu {
  width: 10%;
}
header .see a {
  color: white;
  text-decoration: none;
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
}
header .see a:hover {
  color: white;
  text-decoration: none;
}
.lunzhuan {
  position: relative;
}
.lunzhuan img {
  cursor: pointer;
}
.lunzhuan ol li {
  width: 6px ;
  height: 6px;
  margin-bottom: -20px;
}
.lunzhuan ol .active {
  width: 6px ;
  height: 6px;
  margin-bottom: -20px;
}
.daohang {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.daohang img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.daohang .row0 {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}
.daohang .item {
  width: 70px;
  text-align: center;
}
.daohang span {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin-bottom: 5px;
}
.ccc {
  background-color: #eee;
  width: 100%;
  height: 8px;
}
.miaosha {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
}
.miaosha .shijian .red {
  margin-right: 10px;
}
.miaosha .time {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 2px;
  border-radius: 3px;
  margin-left: -10px;
}
.miaosha .red {
  color: #c81623;
}
.miaosha li {
  float: left;
  list-style: none;
  width: 30%;
}
.miaosha img {
  width: 100%;
  border-right: 1px solid #eee;
}
.miaosha .more {
  position: relative;
  bottom: 10px;
}
.miaosha .more,
.miaosha .money {
  font-size: 12px;
  margin-top: 10px;
}
.miaosha .swiper-container {
  width: 100%;
}
.miaosha .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.miaosha .money_red {
  color: #c81623;
}
.miaosha .money_gray {
  color: #666;
}
.miaosha .title .shijian {
  float: left;
}
.miaosha .title .more {
  float: right;
}
.huichang {
  border: 1px solid white;
  position: relative;
}
.huichang img {
  cursor: pointer;
}
.huichang .bjt {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.huichang .nr {
  margin-top: 12%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 100px;
}
.huichang img {
  width: 100%;
}
.huichang .img_l {
  float: left;
  width: 50%;
  margin-bottom: 5px;
}
.huichang .img_r {
  float: right;
  width: 50%;
}
.images {
  cursor: pointer;
  width: 100%;
}
.images .flex {
  display: flex;
}
.images .item {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eeeeee;
}
.images .last {
  border-right: none;
}
.images .one .item {
  width: 33.3%;
}
.images .one .item img {
  width: 100%;
}
.images .two .item,
.images .three .item {
  width: 50%;
}
.images .two .item img,
.images .three .item img {
  width: 100%;
}
.lunzhuan2 {
  cursor: pointer;
  background-color: #ccc;
  padding: 8px;
}
.lunzhuan2 ol li {
  width: 6px ;
  height: 6px;
  margin-bottom: -30px;
}
.lunzhuan2 ol .active {
  width: 6px ;
  height: 6px;
  margin-bottom: -30px;
}
.tssc {
  width: 100%;
}
.tssc .title {
  padding-left: 5px;
  color: #c81623;
  height: 35px ;
  line-height: 35px;
}
.tssc .row0 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.tssc .i1 {
  border-right: 1px solid #eee;
}
.tssc img {
  border-top: 1px solid #eee;
  cursor: pointer;
}
.tssc .item0 {
  width: 100%;
}
.tssc .item0 img {
  width: 100%;
}
.tssc .item {
  width: 50%;
}
.tssc .item img {
  width: 100%;
}
.tssc .nr .flex {
  width: 100%;
  display: flex;
}
.zhutijie {
  width: 100%;
}
.zhutijie .title {
  padding-left: 5px;
  height: 35px;
  line-height: 35px;
  color: #c81623;
}
.zhutijie .flex {
  display: flex;
}
.zhutijie .item {
  width: 100%;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.zhutijie .item img {
  width: 100%;
}
.zhutijie .last {
  border-right: none;
}
.zhutijie .coloum0 {
  display: flex;
}
.pinpaituijian {
  width: 100%;
}
.pinpaituijian .title {
  padding-left: 5px;
  color: #c81623;
  height: 35px ;
  line-height: 35px;
}
.pinpaituijian .nr {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.pinpaituijian .flex {
  flex: 1;
  display: flex;
}
.pinpaituijian img {
  width: 100%;
}
.pinpaituijian .item {
  flex-shrink: 1;
  border: 1px solid #eee;
  margin-left: -1px;
}
.tg {
  margin-top: 8px;
  width: 100%;
}
.tg img {
  width: 100%;
}
.tg .gray {
  height: 8px ;
  background-color: #eee;
}
.guess_like {
  width: 100%;
}
.guess_like .flex {
  font-size: 12px;
  display: flex;
}
.guess_like .l {
  color: #666;
  padding-left: 5px;
  height: 30px;
  line-height: 30px;
  float: left;
}
.guess_like .r {
  float: right;
  padding-right: 5px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
.guess_like .r a {
  color: #c81623;
}
.guess_like .r .yh img {
  width: 20px;
}
.guess_like .r .hong img {
  width: 6px;
}
.guess_like .item {
  width: 50%;
  padding: 10px;
}
.guess_like .direction {
  padding-bottom: 50px;
  position: relative;
}
.guess_like .left {
  color: red;
}
.guess_like .last {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid #eee;
}
.guess_like img {
  width: 100%;
}
.guess_like .xs {
  color: #666;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
  float: right;
}
.bottom a {
  color: #666;
  text-decoration: none;
}
.bottom a:hover {
  color: #666;
  text-decoration: none;
}
.bottom .title .left {
  float: left;
}
.bottom .title .right {
  float: right;
}
.bottom .bottom_one {
  text-align: center;
  height: 35px;
  line-height: 35px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #F3F5F7;
}
.bottom .bottom_two {
  border-bottom: 1px solid #eee;
  padding: 10px 0 0px 0;
}
.bottom .bottom_two p {
  text-align: center;
}
.bottom .bottom_two p a {
  border-right: 1px solid #ccc;
  padding: 0 20px 0 20px;
}
.bottom .bottom_three {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
}
.bottom .bottom_three .item {
  cursor: pointer;
}
.bottom .bottom_three .item .bg {
  width: 35px;
  height: 35px;
  background-image: url('images/jd-sprites.png');
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.bottom .bottom_three .item .bj1 {
  background-position: -120px -70px;
}
.bottom .bottom_three .item .bj2 {
  background-position: -40px -70px;
}
.bottom .bottom_three .item .bj3 {
  background-position: -80px -70px;
}
.bottom .bottom_four {
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 50px ;
  line-height: 50px;
}
.bottom .bottom_two,
.bottom .bottom_three,
.bottom .bottom_four {
  background-color: #F8F8F8;
}
.kb {
  height: 50px;
}
.cebian0 {
  position: fixed;
  bottom: 30%;
  z-index: 10;
  right: -3%;
  width: 6%;
}
.cebian0 img {
  width: 100%;
  cursor: pointer;
}
.cebian1 {
  position: fixed;
  right: 0;
  z-index: 10;
  bottom: 10%;
  width: 3%;
}
.cebian1 img {
  width: 100%;
  cursor: pointer;
}
footer {
  border-top: 1px solid #ccc;
  box-shadow: 1px 1px 5px 2px #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}
footer img {
  width: 50%;
  cursor: pointer;
}
footer .flex {
  display: flex;
  justify-content: space-around;
}
